<div class="row team-image">
    <div class="col">
        <img src="../../../assets/images/hiring.jpeg" class="w-100" alt="" srcset="" style="filter: brightness(25%); max-height: 40em">
        <div class="team-first-txt">
            <h1 class="text-light text-center">Careers</h1>
            <h3 class="text-light">Join the CashMino Team</h3>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-8 m-auto">
        <h3 class="text-info fw-bold text-center">Why CashMino? We'll Let Our Employees Be Impactful. </h3>
        <p class="lead m-5">
            We're building a culture at CashMino where talented people (like you) can do exceptional work which impacts millions of people. If you're ready to grow your career at a company leading the industry, you've come to the right place.
        </p>
    </div>
</div>

<div class="row m-5">
    <div class="col-8 m-auto">
        <h4 class="text-info fw-bold text-center">All Open Positions</h4>
        <app-open-positions>
        </app-open-positions>
    </div>
</div>