<div class="row footer navbar-fixed-bottom bg-primary mt-5 justify-content-center">

    <div class="col-2 mt-5">
        <div class="bg-primary">
            <img src="../../../assets/images/logo-4.png" class="" alt="..." style="cursor:pointer;" width="30%"
                (click)=goToRoot()>
        </div>
    </div>
    <div class="col-3 mt-5">
        <div class="bg-primary">
            <h5 class="fw-bold text-light">About</h5>
            <br>
            <ul class="list-unstyled">
                <li class="gray">
                    About CashMino
                </li>
                <li class="gray">
                    Security & Privacy
                </li>
                <li class="gray">
                    Press & media
                </li>
            </ul>
        </div>
    </div>
    <div class="col-3 mt-5">
        <div class="bg-primary">
            <h5 class="fw-bold text-light">Work with us</h5>
            <br>
            <ul class="list-unstyled">
                <li class="gray">
                    Careers
                </li>
                <li class="gray">
                    Affiliates
                </li>
                <li class="gray">
                    Our leadership team
                </li>
            </ul>
        </div>
    </div>
    <div class="col-3 mt-5">
        <div class="bg-primary">
            <h5 class="fw-bold text-light">Get in touch</h5>
            <br>
            <ul class="list-unstyled">
                <li class="gray">
                    Contact us
                </li>
                <li class="gray">
                    Help Center
                </li>
                <li class="gray">
                    Social Media Links
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row footer navbar-fixed-bottom bg-primary justify-content-center">
    <div class="col-6 text-center">
        <hr>
        <div class="bg-primary">
            <p class="text-light">
                &copy; CashMino, Inc All rights reserved. | <a routerLink="terms" class="text-light">Terms of user</a> |
                <a routerLink="privacy" class="text-light">Privacy policy</a>
            </p>
        </div>
    </div>
</div>