<div class="row my-5">
    <div class="col">
        <accordion [closeOthers]="oneAtATime">
            <accordion-group>
                <button class="btn btn-link" style="text-decoration: none;" accordion-heading type="button">
                    <div class="text-start">
                        <span class="text-dark ">Sr. Recruiter</span>
                    </div>


                    <span class="text-muted"><i class="fa fa-map-marker"></i> Los Angeles, California</span>

                </button>
                <button class="btn btn-link btn-block" accordion-heading type="button">
                </button>
                <h5 class="text-dark"><strong>Job Description:</strong></h5>
                <br>
                <p>SUMMARY</p>
                <p>
                    CashNimo is hiring a seasoned, Senior Recruiter. You are driven with an interpersonal savvy that
                    allows you to develop lasting relationships with both candidates and hiring managers. You will be
                    responsible for identifying and generating pipelines of
                    qualified candidates. The ideal candidate is also comfortable in a metric-based environment and able
                    to source passive candidates to find the best people for open roles. This is an exciting opportunity
                    to work on a variety of roles
                    across the entire organization. As a key member of the Talent Acquisition team, you will see your
                    contributions shape CashNimo’s growth and culture.
                </p>
                <br>
                <p>KEY RESPONSIBILITIES</p>

                <ol>
                    <li>Manage full cycle recruiting process and ensure a seamless, consistent and positive candidate
                        experience</li>
                    <li>Passively source qualified candidates, review resumes and prescreen candidates while moving the
                        interview process forward in a timely manner</li>
                    <li>Drive offer approval, extension and negotiation</li>
                    <li>Organize and facilitate interview debriefs</li>
                    <li>Use competitive intelligence and industry knowledge to research and identify new recruiting
                        channels </li>
                    <li>Maintain recruitment database</li>
                    <li>Provide the best candidate experience from beginning to end</li>
                    <li>Build strong partnerships with hiring managers and hiring teams to source and identify
                        candidates that will excel at CashNimo </li>
                </ol>
                <br>
                <p>MINIMUM REQUIREMENTS (Knowledge, Skills, Abilities)</p>
                <p>
                    To perform this job successfully, an individual must be able to perform each essential duty
                    satisfactorily. The requirements listed below are representative of the knowledge, skill, and/or
                    ability required. Reasonable accommodations may be made to enable
                    individuals with disabilities to perform the essential functions.

                </p>
                <ul>
                    <li>Passion/interest and understanding of full cycle recruiting</li>
                    <li>Expert-level knowledge of applicant tracking systems (e.g. Workday Recruiter), LinkedIn, and
                        other recruiting technologies</li>
                    <li>Ability to qualify a candidate and understand what each candidate brings to the table, and then
                        connect that candidate with the right opportunity at CashNimo</li>
                    <li>Expert level sourcing skills: Boolean, google searches, LinkedIn for example</li>
                </ul>
                <br>
                <p>
                    QUALIFICATION REQUIREMENTS </p>
                <ul>
                    <li>5+ years of recruiting experience</li>
                    <li>Bachelor's degree preferred</li>
                    <li>In-house, full-cycle recruiting experience preferred and/or agency</li>
                    <li>Prior experience with working in a fast-paced environment is preferred</li>
                    <li>Proven track record of sourcing and filling roles for a technology company</li>
                </ul>
                <br>
                <p>RESUME SUBMISSIONS</p>
                <p>Please send your resume and cover letter (optional) to hr@cashnimo.com</p>

            </accordion-group>
            <accordion-group>
                <button class="btn btn-link btn-block clearfix" style="text-decoration: none;" accordion-heading
                    type="button">
                    <div class="text-start">
                        <span class="text-dark">Sr. Software Engineer - Machine Learning Acceleration
                            [Kubernetes]</span>
                    </div>
                    <div class="text-start">
                        <span class="text-muted"><i class="fa fa-map-marker"></i> Los Angeles, California</span>
                    </div>
                </button>
                <button class="btn btn-link btn-block clear-fix" accordion-heading type="button">
                </button>
                <h5 class="text-dark"><strong>Job Description:</strong></h5>
                <br>
                <p>SUMMARY</p>
                <p>
                    The Senior Software Engineer is a key position in the machine learning operations group. As part of
                    the CashNimo Technology Team, the scope of this role is contributing to the research
                    productionization effort. The responsibilities include assisting machine
                    learning efforts by optimizing novel ML algorithms into production-ready code, developing new tools
                    to accelerate model-building efforts, educating fellow members on best practices in software design,
                    and maintaining world-class on
                    prem and in cloud compute clusters.
                </p>
                <br>
                <p>KEY RESPONSIBILITIES</p>

                <ol>
                    <li>Optimizing novel ML algorithms for speed, throughput, resiliency, and cost.</li>
                    <li>Maintaining and enhancing large research clusters.</li>
                    <li>Writing new tools to accelerate machine learning efforts</li>
                    <li>Designing new ETL pipelines to improve on premise server utilization</li>
                    <li>Designing cloud strategies to speed up training/classification efforts with the least cost.</li>
                    <li>Acting as a SME for software practices, containerization, networking, data management, and
                        CI/CD.</li>
                </ol>
                <br>
                <p>MINIMUM REQUIREMENTS (Knowledge, Skills, Abilities)</p>
                <p>
                    To perform this job successfully, an individual must be able to perform each essential duty
                    satisfactorily. The requirements listed below are representative of the knowledge, skill, and/or
                    ability required. Reasonable accommodations may be made to enable
                    individuals with disabilities to perform the essential functions.
                </p>
                <ul>
                    <li>Strong knowledge of containerization, working with Docker and Kubernetes</li>
                    <li>Strong knowledge of Python and Go development</li>
                    <li>Strong knowledge of Linux servers and maintenance</li>
                    <li>Working knowledge of data science packages such as Numpy, Scipy, and Sklearn</li>
                    <li>Ability to work independently and design novel solutions</li>
                    <li>Strong written communication and presentation skills</li>
                </ul>
                <br>
                <p>
                    QUALIFICATION REQUIREMENTS </p>
                <ul>
                    <li>
                        BS in Computer Science or similar field
                    </li>
                    <li>
                        3 to 5 years in software development or SRE role
                    </li>
                </ul>
                <br>
                <p>RESUME SUBMISSIONS</p>
                <p>Please send your resume and cover letter (optional) to hr@cashnimo.com</p>

            </accordion-group>

            <accordion-group>
                <button class="btn btn-link btn-block clearfix" style="text-decoration: none;" accordion-heading
                    type="button">
                    <div class="text-start">
                        <span class="text-dark">Sr. Software Engineer</span>
                    </div>
                    <span class="text-muted"><i class="fa fa-map-marker"></i> Los Angeles, California</span>
                </button>
                <button class="btn btn-link btn-block clear-fix" accordion-heading type="button">
                </button>
                <h5 class="text-dark"><strong>Job Description:</strong></h5>
                <p>
                    We’re looking for an energetic, detail-oriented, software engineer who can contribute toward
                    building the future of our industry-leading browser extension. We want engineers who are eager to
                    solve large-scale technical challenges, and who can live up
                    to our commitments to achieve best-in-class: user privacy, user experience, and developer
                    experience. You will contribute to novel, consumer-facing product launches that will help our
                    millions of loyal users shop online in new and
                    exciting ways.
                </p>
                <br>
                <br>
                <p>KEY RESPONSIBILITIES</p>

                <ol>
                    <li>Develop software solutions by studying information needs; conferring with users; studying
                        systems flow, data usage and work processes; investigating problem areas; following the software
                        development lifecycle</li>
                    <li>Build strong partnership with product managers and stakeholders</li>
                    <li>Understands how to break work down into concise deliverables with a focus on iterative product
                        delivery</li>
                    <li>Build systems and pride in writing maintainable code</li>
                    <li>Ability to exercise independent judgment and creative problem-solving techniques in a highly
                        complex environment using leading-edge technology.</li>
                    <li>Own solutions end to end from conception to release by managing complexity and collaboratively
                        working with various stakeholders to achieve desired outcomes</li>
                    <li>Contribute to weekly product releases and code reviews with a small and dynamic team</li>
                    <li>Collaborate across multiple disciplines and teams</li>
                </ol>
                <br>
                <p>MINIMUM REQUIREMENTS (Knowledge, Skills, Abilities)</p>
                <ul>
                    <li>Strong skills in JavaScript & ES6, HTML, and CSS •Experience with VueJS and/or React frameworks
                    </li>
                    <li>Experience with NodeJS / WebKit / Babel</li>
                    <li>Familiar with source code control management systems, including branching and merging of code
                    </li>
                    <li>Strong understanding of and experience with all stages of software development lifecycle,
                        including requirements analysis, design, development, integration, verification, deployment, and
                        sustainment</li>
                    <li>Strong attention to detail, ability to multi-task, prioritize, and problem solve</li>
                    <li>Strong verbal and written communication skills</li>
                    <li>Experience with WebExtensions API and browsers’ extensions architecture a plus</li>
                    <li>Experience with Swift a plus</li>
                    <li>Experience with RESTful Api development a plus</li>
                    <li>Experience with Microservices and Containerization (Docker, AWS ECS or K8s) a plus</li>
                    <li>Experience with AWS or similar cloud computing platforms a plus</li>
                </ul>
                <br>
                <p>
                    QUALIFICATION REQUIREMENTS </p>
                <ul>
                    <li>B.S. or M.S in Computer Science or related field, or equivalent experience</li>
                    <li>5+ years of relevant experience in the design, development, documentation, and deployment of
                        client-side software</li>
                    <li>2+ years of application development using NodeJS, Java, Python or Golang</li>
                    <li>2+ years of working on and/or building microservices from the ground up</li>
                    <li>Experience with AWS, Kubernetes, Docker, Ci/CD tooling</li>
                </ul>
                <br>
                <p>RESUME SUBMISSIONS</p>
                <p>Please send your resume and cover letter (optional) to hr@cashnimo.com</p>

            </accordion-group>

            <accordion-group>
                <button class="btn btn-link btn-block clearfix" style="text-decoration: none;" accordion-heading
                    type="button">
                    <div class="text-start">
                        <span class="text-dark">Associate Creative Director (Copywriter)</span>
                    </div>
                    <div class="text-start">

                        <span class="text-muted"><i class="fa fa-map-marker"></i> Los Angeles, California</span>
                    </div>
                </button>
                <button class="btn btn-link btn-block clear-fix" accordion-heading type="button">
                </button>
                <h5 class="text-dark"><strong>Job Description:</strong></h5>
                <p>SUMMARY</p>
                <p>
                    CashNimo is looking for an Associate Creative Director (Copywriter) to join our growing team and
                    help drive the brand into the future. We're looking for a digitally-focused, highly skilled,
                    creative copywriter to write and manage promotional campaigns,
                    partner with creative leadership, and maintain the brand voice in a fast-paced tech/retail
                    environment. This role will sit within our promotional group in support our creative team in the
                    development of breakthrough campaigns that
                    drive purchase and engagement.
                </p>
                <br>
                <br>
                <p>KEY RESPONSIBILITIES</p>

                <ol>
                    <li>Concepting, writing, and executing promotional campaigns across both digital and offline
                        channels including but not limited to web, email, social, and digital video.</li>
                    <li>Deliver an engaging, consistent brand voice across all consumer touch-points.</li>
                    <li>Nurture junior talent, providing clear direction and constructive feedback.</li>
                    <li>Collaborate with product and strategy teams to drive results.</li>
                    <li>Work with marketing team to develop innovative and high-impact campaigns and deliverables based
                        on marketing objectives</li>
                    <li>Lead testing and optimization of messaging based upon consistent growth tactics.</li>
                    <li>Develop bold ideas and creative approaches to telling CashNimo’s story in ways that drives both
                        acquisition and creates member loyalty. </li>
                    <li>Present concepts, work in progress and final creative to our stakeholders and partners.</li>
                    <li>Responsible for delivering quality work that adheres to briefs, is on brand, and is forward
                        thinking. </li>
                </ol>
                <br>
                <p>MINIMUM REQUIREMENTS (Knowledge, Skills, Abilities)</p>
                <ul>
                    <li> Excellent management skills and strong leadership potential.</li>
                    <li> A portfolio that demonstrates strategic and conceptual thinking applied across a range of
                        channels.</li>
                    <li> Blend of conceptual thinking and technical knowledge.</li>
                    <li> Experience telling a compelling story, driving engagement and action.</li>
                    <li> Strong presentation skills</li>
                    <li> Can effectively partner and build relationships with cross functions partners.</li>
                    <li> Exceptional organizational skills and great attention to detail.</li>
                </ul>
                <br>
                <p>
                    QUALIFICATION REQUIREMENTS </p>
                <ul>
                    <li>
                        10+ years of experience copywriting at creative agencies or in-house (consumer technology or
                        technology-enabled companies a plus)
                    </li>
                </ul>
                <br>
                <p>RESUME SUBMISSIONS</p>
                <p>Please send your resume and cover letter (optional) to hr@cashnimo.com</p>
            </accordion-group>

        </accordion>

    </div>
</div>