<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <img src="../../../assets/images/logo-4.png" class="" width="4%" alt="..." (click)="navigateToHome()"
                style="cursor:pointer;">

            <a class="navbar-brand fw-bold mx-2 fs-4" routerLink="/">CashNimo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active mt-1">
                        <a class="nav-link" routerLink="/how-it-works">How It Works
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mt-1">
                        <div class="btn-group" dropdown>
                            <button id="button-basic" dropdownToggle type="button"
                                class="btn dropdown-toggle nav-link btn-link" aria-controls="dropdown-basic">
                                Company <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem"><a class="dropdown-item" routerLink="/about-us">About Us</a></li>
                                <li class="divider dropdown-divider"></li>

                                <li role="menuitem"><a class="dropdown-item" routerLink="/contact-us">Contact Us</a></li>
                                <li class="divider dropdown-divider"></li>

                                <li role="menuitem"><a class="dropdown-item" routerLink="/careers">Careers</a></li>
                                <li class="divider dropdown-divider"></li>

                                <li role="menuitem"><a class="dropdown-item" routerLink="/terms">Terms & Conditions</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>
                <a routerLink="/register" class="d-flex btn btn-sm btn-warning mx-2">Register</a>
                <a routerLink="/login" class="d-flex btn btn-sm btn-info">Log In</a>
            </div>
        </div>
    </nav>
</div>