<button type="button" class="btn border" style="color: aliceblue; background-color: seagreen;" (click)="openModal(template)">Find Deals</button>
     
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-warning"><i class="fa fa-bell" aria-hidden="true"></i>  Under Construction</h4>
    <button type="button" class="btn close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <p class="lead">
          This amazing feature is on its way. 
          <br>
          We are coming soon!
      </p>
  </div>
</ng-template>