<div style="height: 55vh">
    <div class="row mt-5" *ngIf="message">
        <div class="col-3 m-auto" *ngIf="success">
            <h3 class="text-success">Reset password email sent!</h3>
            <p class="lead my-5">{{message}}</p>
        </div>
        <div class="col-3 m-auto" *ngIf="!success">
            <h3 class="text-danger">Reset password operation failed!</h3>
            <p class="lead my-5">{{message}}</p>
        </div>
    </div>
    <div *ngIf="!message">
        <div class="row mt-5">
            <div class="col-3 m-auto">
                <h3 class="text-info">Reset Password Request Form</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 m-auto p-5 shadow-lg">
                <form #requestResetPasswordForm="ngForm" (ngSubmit)="onInitResetPassword()">
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email address</label>
                        <input type="email" class="form-control form-control-sm" id="emailInput"
                            placeholder="Please enter your email address" [(ngModel)]="email" required email name="email"
                            #emailInput="ngModel">
                    </div>
                    <ul *ngIf="!emailInput.valid && emailInput.touched" class="text-danger">
                        <li *ngIf="emailInput.errors?.required">Email field is required.</li>
                        <li *ngIf="emailInput.errors?.email">Email format is required.</li>
                    </ul>
                    <button type="submit" class="btn btn-sm btn-info"
                        [disabled]="requestResetPasswordForm.form.invalid">Reset
                        Password</button>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-3 m-auto text-center">
                <hr>
                <a routerLink="/login" class="btn-outline-dark">Back to Login Page</a>
            </div>
        </div>
    </div>
</div>
