<div>
    <div class="row h-75 gfg">
        <div class="col">
            <img src="../assets/images/ecommerce-banner.png" class="w-100" alt="...">
            <h1 class="first-txt gray">Welcome to CashMino</h1>
            <h3 class="second-txt gray">Get <i class="text-light">Cash Back</i> or <i class="text-light">Free
                    Gift Card</i> on your online purchases
            </h3>
            <!-- <button class="third-txt btn btn-lg btn-warning" (click)="openModal(template)">See how it works</button> -->
            <button class="third-txt btn btn-lg btn-warning mt-5" (click)="goToHowItWorksPage()">See How It
                Works</button>

            <ng-template #template>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">How CashMino Works</h4>
                    <button type="button" class="btn close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="px
                    -5">
                        <p class="lead">Welcome to our fun reward program that gives you free gift cards and cash for
                            your every day online shoppings.
                            <br>
                            <br> You can put cashback in your wallet after you earn points when you shop at your
                            favorite retailers finding great deals. Then you can redeem points for gift cards of your
                            choice like Target or Walmart. You can also get
                            cash back from PayPal.
                            <br>
                            <br> Once you join it is easy to earn points for all the shoppings like other happy members
                            of CashMino website.
                        </p>
                    </div>

                    <br>
                    <div class="d-grid gap-2">
                        <a routerLink="/register" class="btn btn-primary" (click)="modalRef.hide()">Join Now!</a>
                    </div>

                </div>
            </ng-template>

        </div>
    </div>

    <div class="row bg-light">
        <div class="col-8 text-center py-5 m-auto">
            <h3 class="fw-bold text-info">Get Free Gift Cards & Cash for your every day online shopping</h3>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-3 m-2 shadow p-3 mb-5 bg-body rounded">
            <div class="card text-center">
                <img src="../assets/images/laptop.png" class="card-img-top m-auto p-2" style="width: 75px; height: 75px"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">1. Shop Online</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3 m-2 shadow p-3 mb-5 bg-body rounded">
            <div class="card text-center">
                <img src="../assets/images/cards.png" class="card-img-top m-auto p-2" style="width: 75px; height: 75px"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">2. Earn Points</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3 m-2 shadow p-3 mb-5 bg-body rounded">
            <div class="card text-center">
                <img src="../assets/images/gift-card-2.png" class="card-img-top m-auto p-2"
                    style="width: 75px; height: 75px" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">3. Get Back Cash or Gift Cards</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light mt-3">
        <div class="col-6 m-auto text-center pt-3">
            <h3 class="text-info fw-bold">Projected to pay our members across the world over</h3>
            <h1 style="font-family: 'Orbitron', sans-serif;" class="fw-bold text-warning">$ 25,000,000</h1>
            <h3 class="text-info fw-bold">Worth of Gift Cards or Cash Back</h3>
        </div>
    </div>

</div>