<div class="row team-image">
    <div class="col">
        <img src="../../../assets/images/privacy.jpg" class="w-100" alt="" srcset="">
        <div class="team-first-txt">
            <h1 class="text-light text-center">Privacy Policy</h1>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-8 m-auto">
        <h3 class="text-dark fw-bold">Privacy Policy</h3>
        <p class="lead">
            Welcome to CashNimo’s privacy policy.
        </p>
        <p class="lead">
            CashNimo respects your privacy and is committed to protecting your personal information. This Privacy Policy
            will inform you as to how we look after your personal information when you visit our website (regardless of
            where you visit it from) and tell you about your privacy rights and how the law protects you.

            This Privacy Policy is provided in a layered format so you can click through to the specific areas set out
            below. Please also use the Glossary to understand the meaning of some of the terms used in this Privacy
            Policy.

        </p>





        <p class="fw-bold">Purpose of this Privacy Policy</p>
        <p class="lead">This Privacy Policy aims to give you information on how CashNimo collects and processes your
            personal information through your use of the CashNimo corporate website at www.CashNimo.com and its
            subdomains (collectively, the “Website”), including any information you may provide through the Website when
            you complete one of our online forms, or when you apply for one of our available positions at CashNimo.

            Please note that this Website is not intended for children. No one under age 18 may provide any information
            to or on this Website. We do not knowingly collect personal information from children. If you are under 18,
            do not use or provide any information on this Website or on or through any of its features, use any of the
            interactive features of this Website or provide any information about yourself to us, including your name,
            address, telephone number, or email address. If we learn we have collected or received personal information
            from a child without verification of parental consent, we will delete that information. If you believe we
            might have any information from or about a person under 18, please contact us at privacy@CashNimo.com.

            It is important that you read this Privacy Policy together with any other privacy notice or fair processing
            notice we may provide on specific occasions when we are collecting or processing personal information about
            you so that you are fully aware of how and why we are using your information. This Privacy Policy
            supplements the other notices and is not intended to override them.</p>

        <p class="fw-bold">Controller</p>
        <p class="lead">CashNimo is made up of different legal entities, details of which can be found at
            www.CashNimo.com/contact. This Privacy Policy is issued on behalf of the CashNimo Group so when we mention
            “CashNimo”, “we”, “us” or “our” in this Privacy Policy, we are referring to the relevant company in the
            CashNimo Group responsible for processing your information. CashNimo Holdings Ltd. is the controller and
            responsible for this Website.

            If you have any questions about this Privacy Policy, including any requests to exercise your information
            access rights, please contact our data privacy manager using the details set out below.

        </p>

        <p class="fw-bold">Changes to the Privacy Policy and your duty to inform us of changes

        </p>
        <p class="lead">
            This version was last updated on March 22, 2020 and historic versions can be obtained by contacting us.

            We reserve the right to change the terms of this Privacy Policy at any time. When we do, we will post the
            revised Privacy Policy to our Website and the last revision date of revision will be updated so that you
            will always be able to understand what information we collect, how we use your information, and under what
            circumstances we may share your information with others. We will notify you of any material changes.

            It is important that the personal information we hold about you is accurate and current. Please keep us
            informed if your personal information changes during your relationship with us.


        </p>

        <p class="fw-bold">Third-party links

        </p>
        <p class="lead">This Website may include links to third-party websites, plug-ins, and applications. Clicking on
            those links or enabling those connections may allow third parties to collect or share data about you. We do
            not control these third-party websites and are not responsible for their privacy statements. When you leave
            our Website, we encourage you to read the privacy policy of every website you visit.

            Please note that we also do not control third parties’ collection or use of your information to serve
            interest-based advertising. However, these third parties may provide you with ways to choose not to have
            your information collected or used in this way. If you are based in the United States you can opt-out of
            receiving targeted ads from members of the Network Advertising Initiative (“NAI“) on the NAI’s website at
            http://optout.networkadvertising.org. If you are based in the European Union you may visit the website of
            the European Interactive Digital Advertising Alliance (“EIDAA”) at https://www.edaa.eu as well as of the
            European Advertising Standards Alliance (“EASA”) at http://www.easa-alliance.org.</p>

        <p class="fw-bold">Public Forums, Blogs, Refer a Friend and Customer Testimonials

        </p>
        <p class="lead">
            Our Website offers publicly accessible blogs or community forums. You should be aware that any information
            you provide in these areas may be read, collected, and used by others who access them. To request removal of
            your personal information from our blog or community forum, contact us by sending an email to our data
            privacy manager at privacy@CashNimo.com.

            CashNimo may, from time to time, send emails regarding our products and services to users who have posted to
            our discussion forums, blogs, user-editable documents, and commenting systems. Each participant’s opinion
            expressed is his or her own and should not be considered as reflecting the opinion of CashNimo. Note also
            that your use of these online communication tools is subject to our Terms of Service, which contain
            disclaimers, limitations of liability and a choice of California law. Personal information given to CashNimo
            may be transferred across state and country borders for data consolidation, storage, and simplified
            information management.
        </p>

        <p class="fw-bold">Social Media Features</p>
        <p class="lead">Our Website includes Social Media Features, such as the Facebook Like button. These Features may
            collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature
            to function properly. Social Media Features are either hosted by a third party or hosted directly on our
            Website. Your interactions with these Features are governed by the privacy policies of the companies
            providing them.</p>

        <p class="fw-bold">The information we collect about you</p>
        <p class="lead">Personal data, or personal information, means any information about an individual from which
            that person can be identified. It does not include data where the identity has been removed (anonymous
            data).

            We may collect, use, store and transfer different kinds of personal information about you which we have
            grouped together follows:

            Identity Data includes first name, last name, username or similar identifier, marital status, title, date of
            birth and gender.
            Contact Data includes billing address, delivery address, email address, and telephone numbers.
            Technical Data includes internet protocol (IP) address, Media Access Control (MAC) numbers, your login data,
            browser type and version, time zone setting and location, browser plug-in types and versions, operating
            system and platform and other technology on the devices you use to access this website.
            Profile Data includes your username, your interests, preferences, feedback and survey responses.
            Usage Data includes information about how you use our website, products, and services.
            Marketing and Communications Data includes your preferences in receiving marketing from us and our third
            parties and your communication preferences.
            We also collect, use and share Aggregated Data such as statistical or demographic data for any purpose.
            Aggregated Data may be derived from your personal data but is not considered personal data in law as this
            data does not directly or indirectly reveal your identity. For example, we may aggregate your Usage Data to
            calculate the percentage of users accessing a specific Website feature. However, if we combine or connect
            Aggregated Data with your personal information so that it can directly or indirectly identify you, we treat
            the combined data as personal information which will be used in accordance with this Privacy Policy.

            We do not collect any Special Categories of Personal Data about you (this includes details about your race
            or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, trade
            union membership, information about your health and genetic and biometric data). Nor do we collect any
            information about criminal convictions and offenses.

            If you fail to provide personal information

            Where we need to collect personal information by law, or under the terms of a contract we have with you and
            you fail to provide that information when requested, we may not be able to perform the contract we have or
            are trying to enter into with you (for example, to provide you with access to our solutions and services).
            In this case, we may have to deny you access to solutions or services you have ordered from us but we will
            notify you if this is the case at the time.</p>

        <p class="fw-bold">Data security</p>
        <p class="lead">We have put in place appropriate security measures to prevent your personal information from
            being accidentally lost, used or accessed in an unauthorized way, altered or disclosed. In addition, we
            limit access to your personal information to those employees, agents, contractors and other third parties
            who have a business need to know. They will only process your personal information on our instructions and
            they are subject to a duty of confidentiality.

            No method of transmission over the Internet, or method of electronic storage, is 100% secure, however.
            Therefore, we cannot guarantee its absolute security. We have put in place procedures to deal with any
            suspected personal data breach and will notify you and any applicable regulator of a breach where we are
            legally required to do so. Notice will be given promptly, consistent with the legitimate needs of law
            enforcement and any measures necessary for CashNimo or law enforcement to determine the scope of the breach
            and to assure or restore the integrity of the data system. CashNimo may delay notification if CashNimo or a
            law enforcement agency determines that the notification will impede a criminal investigation, unless and
            until CashNimo or the agency determines that notification will not compromise the investigation. If you have
            any questions about the security of your personal information, you can contact us at privacy@CashNimo.com.
        </p>

        <p class="lead">This version was last updated on March 22, 2020</p>



    </div>
</div>
