<div class="row team-image">
    <div class="col">
        <img src="../../../assets/images/team.jpg" class="w-100" alt="" srcset="">
        <div class="team-first-txt">
            <h1 class="text-light text-center">About Us</h1>
            <h3 class="text-light">Meet the CashNimo Team</h3>
        </div>
    </div>
</div>
<div class="row m-5">
    <div class="col-8 m-auto">
        <h3 class="text-dark fw-bold">About CashNimo</h3>
        <p class="lead">
            Since our founding in 2020, CashNimo has helped shape the way people shop online, offering Cash Back, deals
            and shopping
            rewards on the easy-to-use selection of products and services.
            CashNimo projected to deliver $25M worth of cash back and gift cards to its loyal customers.
        </p>
    </div>
</div>

<div class="row m-5">
    <div class="col-8 m-auto">
        <h3 class="text-dark fw-bold">What CashNimo offers for partners' success</h3>
        <p class="lead">
            CashNimo’s mission is to help brands of all sizes by connecting them to our shop members,
            optimize your marketing plans and accelerate growth with Cash Back rewards.

            We plan to expand our application to over 2500 merchants in different categories to offer a variety of
            solutions to help businesses address their needs,
            a brand safe environment with premium offers such as following items.
        </p>
        <ul>
            <li>
                <strong>Innovative Media Solutions</strong> - reward shoppers every time they shop
            </li>
            <li>
                <strong>Audience targeting solutions</strong> - that utilizes a combination of AI technology and
                behavioral insights to incentivize shoppers.
            </li>
            <li>
                <strong>Digital Strategy Experts</strong> – access to a team of media experts to craft a custom digital
                strategy specific to your
                specific business goals.
            </li>

        </ul>
        <p class="lead">
            We believe in creating true win-win opportunities that foster awareness,
            engagement and purchases for our members and merchants while delivering rewarding cash back experiences.
        </p>
    </div>
</div>

<div class="row m-5">
    <div class="col-8 m-auto">
        <h3 class="text-dark fw-bold mb-5">The CashNimo Team</h3>
        <div class="row justify-content-center">
            <div class="col-3 text-center">
                <img src="../../../assets/images/ceo.jpg" style="border-radius: 50%; width: 7em; height: auto" alt="">
                <br>
                <small class="fw-bold">Andy J. Rubin</small>
                <br>
                <small class="fw-bold text-muted">CEO & CO-FOUNDER</small>
            </div>
            <div class="col-3 text-center">
                <img src="../../../assets/images/cto.jpeg" style="border-radius: 50%; width: 7em; height: auto" alt="">
                <br>
                <small class="fw-bold">David Wise</small>
                <br>
                <small class="fw-bold text-muted">CTO</small>
            </div>
            <div class="col-3 text-center">
                <img src="../../../assets/images/me-2.jpg" style="border-radius: 50%; width: 7em; height: auto" alt="">
                <br>
                <small class="fw-bold">Hooman Mishaeil</small>
                <br>
                <small class="fw-bold text-muted">SR. SOFTWARE ENG.</small>
            </div>
        </div>
    </div>
</div>