<div class="row mt-5">
    <div class="col-3 m-auto">
        <h3 class="text-info">Login Form</h3>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3 m-auto border shadow-lg p-5">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email" class="form-control form-control-sm " id="emailInput"
                    placeholder="Please enter your email address" required email name="email" #emailInput="ngModel"
                    [(ngModel)]="loginRequest.email">
            </div>
            <ul *ngIf="!emailInput.valid && emailInput.touched" class="text-danger">
                <li *ngIf="emailInput.errors?.required">Email field is required.</li>
                <li *ngIf="emailInput.errors?.email">Email format is required.</li>
            </ul>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control form-control-sm" id="passwordInput"
                    placeholder="Please enter your password" [(ngModel)]="loginRequest.password" required
                    name="password" #passwordInput="ngModel">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-sm btn-info" [disabled]="loginForm.form.invalid">Login</button>
            </div>

        </form>
    </div>
</div>
<div class="row mt-5">
    <div class="col-4 m-auto text-center">
        <hr>
        <a routerLink="/register" class="btn-outline-info mx-2">Don't have an account yet?</a>
        <br>
        <br>
        <a routerLink="/request-reset-password" class="btn-outline-info mx-2">Forgot password?</a>
    </div>
</div>