<div class="row mt-5 m-auto">
    <div class="col text-center m-5">
        <h1 class="text-info m-5 fw-bold">
            The process is pretty straightforward!
        </h1>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-4 m-5 p-5">
        <h1 class="text-info ">
            Earn cash back or free gift card when you shop online
        </h1>
        <hr>
        <p class="lead">
            Whether you prefer to do your online shopping from your phone or your computer,
            CashNimo’s got you covered with cash back at hundreds of online retailers,
            food delivery services, travel sites, and more.
            <br>
            Use your computer to stock up without leaving the house.
        </p>
    </div>
    <div class="col-4 m-5">
        <img src="../../../assets/images/online-shopping-cut-2.jpg" class="" alt="" srcset=""
            style="border-radius: 50%; width: 80%">

    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 m-5">
        <img src="../../../assets/images/brands.jpeg" class="" alt="" srcset="" style="border-radius: 75%;">

    </div>
    <div class="col-4 m-5 p-5">
        <h1 class="text-info ">
            We got paid by Stores.
            <br>
            You got paid by Us.
        </h1>
        <hr>
        <p class="lead">
            Stores pay CashNimo a commission for sending you their way and
            CashNimo shares the commission with you as Free Gift Cards and Cash Back through PayPal or check.
        </p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-4 m-5 p-5">
        <h1 class="text-info ">
            Get automatically notified when your Gift Card or Cash Back is available to redeem
        </h1>
        <hr>
        <p class="lead">
            CashNimo will notify you via Email when your rewards is eligible to redeem. Then you can choose your
            favorite
            store's gift card or get cash back.
        </p>
    </div>
    <div class="col-4 m-5">
        <img src="../../../assets/images/email-cut-2.jpeg" style="border-radius: 50%; width: 75%">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col p-5 text-center">
        <h1 class="text-info fw-bold">
            Get ready for the better way to save while online shopping
        </h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col text-center">
        <a routerLink="/register" class="btn btn-warning">Register Now!</a>
    </div>
</div>