<div class="row m-5" *ngIf="message">
    <div class="col-4 m-auto" *ngIf="success">
        <div class="shadow-lg p-3 my-5 bg-body rounded">
            <h3 class="text-success m-5">Great News!</h3>
            <p class="text-muted lead m-5">{{message}}</p>
            <a routerLink="/login" class="btn btn-sm btn-info mx-5 mb-5">Login</a>
        </div>
    </div>
    <div class="col-4 m-auto" *ngIf="!success">
        <div class="shadow-lg p-3 my-5 bg-body rounded">
            <h3 class="text-danger m-5">Email Verification Failed!</h3>
            <p class="text-muted lead m-5">{{message}}</p>
        </div>
    </div>
</div>