.toast-width {
    width: 350px;
    padding: 10px;
}


/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

/* Font Family */
html, body {

    font-family: 'Open Sans', sans-serif;
    /* font-family: 'WindSong', 'Roboto', sans-serif; */
    /* font-family: 'WindSong', cursive; */
}

.gfg {
    position: relative;
}

.first-txt {
    position: absolute;
    top: 5em;
    left: 5em;
}

.second-txt {
    position: absolute;
    top: 10em;
    left: 7em;
}

.third-txt {
    position: absolute;
    top: 20em;
    left: 10em;
}


.gray {
    color: gainsboro;
}


.sea-green {
    color: 	#93DFB8;
}