<div *ngIf="message">
    <div class="row" *ngIf="success">
        <div class="col-3 m-auto">
            <h3 class="text-success my-5">Password Reset Successfully!</h3>
            <p class="lead my-5">{{message}}</p>
            <hr>
            <a routerLink="/login" class="btn btn-sm btn-info">Login</a>
        </div>
      
    </div>
    <div class="row" *ngIf="!success">
        <div class="col-3">
            <h3 class="text-danger">Reset Password operation failed!</h3>
            <p class="lead">Your password is not reset yet. Try again later and in case of recurring the issue, please
                contact Support Team.</p>
        </div>
    </div>
</div>
<div *ngIf="!message">
    <div class="row mt-5">
        <div class="col-3 m-auto">
            <h3 class="text-warning">Reset Password Form</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3 m-auto">
            <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword()"
                [appMatchPassword]="['password', 'passwordConfirmation']">
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput"
                        placeholder="Please enter your password" [(ngModel)]="password" required name="password"
                        #passwordInput="ngModel" minlength="8" maxlength="16">
                    <small id="emailHelp" class="form-text text-muted">Password must contain 8 to 16 characters.</small>
                </div>
                <ul *ngIf="!passwordInput.valid && passwordInput.touched" class="text-danger">
                    <li *ngIf="passwordInput.errors?.required">Password field is required.</li>
                    <li *ngIf="passwordInput.errors?.minlength">Password must be at least 8 characters.</li>
                </ul>
                <div class="mb-3">
                    <label for="passwordConfirmationInput" class="form-label">Password confirmation</label>
                    <input type="password" class="form-control" id="passwordConfirmationInput"
                        placeholder="Please confirm your password" [(ngModel)]="passwordConfirmation" required
                        name="passwordConfirmation" #passwordConfirmationInput="ngModel">
                </div>
                <ul *ngIf="!passwordConfirmationInput.valid && passwordConfirmationInput.touched" class="text-danger">
                    <li *ngIf="passwordConfirmationInput.errors?.required">Password confirmation field is required.</li>
                    <li *ngIf="passwordConfirmationInput.errors?.passwordMismatch">Passwords do not match.</li>
                </ul>
                <br>
                <button type="submit" class="btn btn-sm btn-warning"
                    [disabled]="resetPasswordForm.form.invalid">Reset</button>
            </form>
        </div>
    </div>
</div>